<section class="container-header">
  HEADER
</section>
<section class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="input-wrapper">
        <input class="form-control" type="text">
      </div>
      <!-- <button>
        <i class="fa fa-search"></i>
      </button> -->
    </div>
    <div class="col-md-2">
      <select class="custom-select">
        <option value="-1">Selectionar</option>
        <option value="0">Nome</option>
        <option value="1">Email</option>
        <option value="2">Telefone</option>
        <option value="3">Empresa</option>
        <option value="4">Setor</option>
        <option value="5">Cargo</option>
      </select>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    button
  </div>
</section>