<div class="text-center">
  <h3 style="font-weight: bolder">Controle de Pessoal</h3>
</div>
<br>
<section class="container">
  <div class="row" style="margin-left:50px">
    <div class="col-xm-2">
      <select class="custom-select" (change)=setFilter($event.target.value)>
        <option value="" disabled>Filtar por:</option>
        <option value="0">Nome</option>
        <option value="1">Email</option>
        <option value="2">Telefone</option>
        <option value="3">Empresa</option>
        <option value="4">Setor</option>
        <option value="5">Cargo</option>
        <option value="6">Sem Filtro</option>
      </select>
    </div>
    <div class="col-md-8">
      <div class="input-wrapper">
        <input [disabled]="!hasFilter" class="form-control" type="text" [placeholder]="hasFilter?'Filtrar':'Selecione Um Filtro'"
          (keyup)="filterTable($event.target.value, filter)">
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="addNew()"> Novo </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-xm-2">#</th>
            <th scope="col" class="col-xm-2">Nome</th>
            <th scope="col" class="col-xm-2">Email</th>
            <th scope="col" class="col-xm-2">Telefone</th>
            <th scope="col" class="col-xm-2">Empresa</th>
            <th scope="col" class="col-xm-2">Setor</th>
            <th scope="col" class="col-xm-2">Cargo</th>
            <th scope="col" class="col-xm-1"></th>
          </tr>
        </thead>
        <tbody *ngIf="hasEmployees">
          <tr *ngFor="let item of filteredArray" [hidden]="item.employee.filtered">
            <th>{{item.employee.employee_id}}</th>
            <td>{{item.employee.employee_name}}</td>
            <td>{{item.employee.employee_email}}</td>
            <td>{{item.employee.employees_phone}}</td>
            <td>{{item.employee.company_name}}</td>
            <td>{{item.employee.department_name}}</td>
            <td>{{item.employee.positions_name}}</td>
            <td>
              <div class="row">
                <div class="col-1">
                  <a id="view" (click)="itemAction(ITEM_OPTIONS.VIEW,item.employee.employee_id)" ngbTooltip="Visualizar">
                    <i class="fa fa-eye"></i>
                  </a>
                </div>
                <div class="col-1">
                  <a id="edit" (click)="itemAction(ITEM_OPTIONS.EDIT, item.employee.employee_id)" ngbTooltip="Editar">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
                <div class="col-1">
                  <a id="delete" (click)="itemAction(ITEM_OPTIONS.DELETE,{content: content, employeeId: item.employee.employee_id})" ngbTooltip="Remover">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!hasEmployees" class="empty-list">
        <h4>Não há pessoas cadastradas</h4>
      </div>
      <div *ngIf="filteredArray.length == 0 && hasEmployees" class="empty-list">
        <h4>A busca não obteve nenhum resultado.</h4>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="border-bottom:none;">
    <!-- <div class=""> -->
    <i style="margin-left: 50%; color: red; font-size: 2em" class="fa fa-exclamation"></i>

    <!-- </div> -->
  </div>
  <div class="modal-body">

    <p class="text-center">O usuário será removido, prosseguir?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="d('dismiss')"> Cancelar</button>
    <button type="button" class="btn btn-warning" (click)="c('Close click')">Remover</button>
  </div>
</ng-template>